:root {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
}

body {
  background-color: var(--color-slate-50);
}

#app {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2 {
  color: var(--color-slate-900);
}

p,
li {
  line-height: 1.5;
  color: var(--color-slate-700);
}

pre > code {
  display: block;
  height: 300px;
  padding: 1rem;
  background-color: var(--color-slate-900);
  border-radius: 0.25rem;
  font-family: Consolas, monaco, monospace;
  line-height: 1.5;
  color: var(--color-slate-50);
  overflow: scroll;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
