:root {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
}

html {
  direction: rtl;
}

body {
  background-color: var(--color-slate-50);
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
}

h1,
h2,
h3 {
  color: var(--color-slate-900);
}

p,
li {
  color: var(--color-slate-700);
  line-height: 1.5;
}

li > p {
  line-height: 0.5;
}

a,
a:link,
a:visited {
  color: var(--color-blue-500);
  text-decoration-line: underline !important; /* So that it works on Edge! */
}

a:hover {
  color: var(--color-blue-600);
}

a:active {
  color: var(--color-blue-700);
}

pre > code {
  display: block;
  padding: 0.5rem;
  background-color: var(--color-slate-100);
  border-radius: 0.25rem;
  line-height: 1.5;
  color: var(--color-slate-900);
  overflow-x: scroll;
}
